.patient-modal {
    width: 65%;
    height: 90%;
    position: absolute;

    border-radius: 20px;
    background-color: white;
    z-index: 10;
    transition: all 0.25s ease;
    overflow-y: scroll;
    top: 5%;

    &::-webkit-scrollbar {
        width: 0px; // Hace el scrollbar invisible horizontalmente
        height: 0px; // Hace el scrollbar invisible verticalmente
        display: none; // Asegura que no ocupe espacio (opcional, pero útil)
    }


    &-close {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }

    &-info-buttons {


        button {
            font-size: 1em;
            font-weight: 600;
            height: 30px;
            // padding: 12px 32px;
            border-radius: 9999px;
            background-color: #7696ee;
            border: 2px solid #7696ee;
            cursor: pointer;
            transition: all 0.25s ease;
            width: 20%;

            &:hover {
                background-color: #b8c8f3;
                border: 2px solid #b8c8f3;

                color: rgb(37, 37, 37);
            }





            @media (max-width: 950px) {
                width: 100%;
                height: 20px;
                font-size: 0.5em;



            }



        }



    }
}



.patient-modal-content {
    display: flex;
    height: 90%;
    padding-top: 50px;
    padding-right: 20px;
}

.patient-modal-image {

    padding: 10px;

    img {

        width: 200px;
        height: 200px;
    }

    button {
        font-size: 0.6em;
        font-weight: 400;
        // padding: 12px 32px;
        border-radius: 9999px;
        background-color: #7696ee;
        border: 2px solid #7696ee;
        cursor: pointer;
        transition: all 0.25s ease;
        width: 30%;

        &:hover {
            background-color: #b8c8f3;
            border: 2px solid #b8c8f3;

            color: rgb(37, 37, 37);
        }





        @media (max-width: 950px) {
            width: 100%;
            height: 20px;
            font-size: 0.5em;



        }



    }
}

.patient-modal-info {
    height: 80%;
    padding: 10px;
    justify-content: space-between;
    width: 100%;

    div {
        display: flex;
        gap: 20px;
    }


    .patient-info-label {
        color: black;
        font-weight: 600;
    }

    .patient-info-value {
        color: rgb(109, 108, 108);
        font-weight: 300;
    }

    .patient-info-input {
        width: 70%;
        height: 10px;
        border-radius: 30px;
        padding: 20px;
        border: none;
        background-color: rgb(240, 236, 236);
        color: black;
        outline: none;
        font-size: 1em;
    }




    &-description {
        height: auto;
        max-height: 100%;
        overflow: hidden;
        // scroll-behavior: smooth;

        &::-webkit-scrollbar {
            width: 0px; // Hace el scrollbar invisible horizontalmente
            height: 0px; // Hace el scrollbar invisible verticalmente
            display: none; // Asegura que no ocupe espacio (opcional, pero útil)
        }

    }

}




















.patients-modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;


    background-color: rgb(8, 2, 65);
    opacity: 0.8;
    border-radius: 20px;

    position: absolute;
    top: 8px;
    left: 0;
    overflow: hidden;

}