.pop-up {
    height: 100px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;

    // Animación de entrada/salida (opcional, pero mejora la UX)
    // transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    // transform: translateX(100%); // Inicialmente fuera de la pantalla
    // opacity: 0;

    transform: translate(-50%, -50%);


    .pop-up-close {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 1.2rem;
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    .pop-up-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .pop-up-alert {
        font-size: 10px;
        font-weight: 300;
        margin-top: 20px;
    }
}

.red {
    border: 1px solid rgba(255, 0, 0, 0);
    background-color: rgb(247, 175, 175);
}

.green {
    border: 1px solid rgba(0, 255, 0, 0);
    background-color: rgb(175, 247, 175);
}