$primary-color: #2c1174;
$light-bg: #e6e0ff;
$sidebar-bg: #f3f3f3;
$dark-blue: #20226A;
$dark-blue-hover: #494daa;

$width: 80px;

.sidebar {
    width: 15%;
    background-color: $dark-blue;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-radius: 10px solid orange;
    color: white;
    font-size: 18px;


    @media (max-width: 1300px) {
        font-size: 16px;

    }


    @media (max-width: 950px) {
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }





}



.sidebar__title {
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(143, 143, 143);


    @media (max-width: 950px) {
        border-bottom: none;
        margin-bottom: 0px;
        width: auto;


    }
}


.sidebar__menu-list {
    height: 300px;
    width: 100%;



    @media (max-width: 950px) {
        display: none;

    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 25%;
        cursor: pointer;
        transition: background-color 0.3s ease;
        padding-left: 1em;
        gap: 10%;

        img {
            width: 1.5em;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        }

        &:hover {
            background-color: $dark-blue-hover;
        }
    }


    &-active {
        background-color: $dark-blue-hover;

    }
}

.sidebar__hamburguer-menu {
    @media (min-width: 950px) {
        display: none;
    }
}




.sidebar__hamburguer-menu {



    .complement-patient {
        margin: 0px;
        width: 100%;
    }

    .add-patient {
        width: 100%;


        &-button {
            width: 100%;
            height: 30px;
            font-size: 0.9em;


        }
    }
}